<!-- -*- coding: utf-8 -*- -->
{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
    <div style="width:50%">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success ">Dodaj karnet</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
