{% extends "base.html" %}

{% block content %}
    <div style="margin-left: 2%">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                    <a href="{% url 'cards_app:edit' users.card.id %}">
                        <button type="button" style="margin-top:px" class="btn btn-warning btn-md">
                            <span class="glyphicon glyphicon-pencil"></span> Edytuj Karnet
                        </button>
                    </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-user"></span> Imię i nazwisko:</strong>
                <h4> {{ users.name }} {{ users.surname }}</h4>
            </div>

            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-barcode"></span> Numer kodu kreskowego:</strong>
                <h4> {{ users.barcode }} </h4>
            </div>

            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-align-justify"></span> Typ karnetu:</strong>
                <h4> {{ card.type }} </h4>
            </div>

            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-euro"></span> Cena karnetu:</strong>
                <h4> {{ card.price }} </h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-calendar"></span> Karnet ważny jeszcze:</strong>
                <h4 >
                    {% if active %}
                        <button type="button" class="btn btn-success btn-md active">{{ days }}</button>
                    {% else %}
                        <button type="button" class="btn btn-danger btn-md active">{{ days }}</button>
                    {% endif %}
                </h4>
            </div>

            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-calendar"></span> Data zakupu karnetu:</strong>
                <h4> {{ card.date_of_purchase }} </h4>
            </div>

            <div class="col-xs-6 col-md-3">
                <strong><span class="glyphicon glyphicon-calendar"></span> Data wygaśnięcia karnetu:</strong>
                <h4> {{ card.date_of_finish }} </h4>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
